canli_kurulum.md
migrate_add_content.sh
nginx_canli_redirect.conf
nginx_yigitgulyurt.conf
nginx_canli.conf
deploy.sh
.env.example
migrate_stream_config.sh
folderico-LopZVw.ico
desktop.ini
*.pyc
instance/yigitgulyurt.db
client_secret_574148881822-f84qpsn9bbarqvjomp8jvdk3e5s0qhh7.apps.googleusercontent.com.json
.env
obsidian.txt
yigitgulyurt2
yigitgulyurt.net.tr.code-workspace
DOSYA_DONUSTURUCU_GELISTIRMELER.md

# Proje dosyaları (yalnızca .gitkeep sakla)
app/templates/projects/html/*
!app/templates/projects/html/.gitkeep
app/templates/projects/markdown/*
!app/templates/projects/markdown/.gitkeep
app/static/css/yigitgulyurt/projects/*
!app/static/css/yigitgulyurt/projects/.gitkeep